<article class="cast-card">
  <div class="cast-author">
    <img class="avatar" src="<%= cast.author.pfpUrl %>" alt="" loading="lazy">
    <div>
      <a class="author-name" href="/u/<%= encodeURIComponent(cast.author.username) %>"><%= cast.author.displayName %></a>
      <div class="muted">@<%= cast.author.username %> · <%= cast.timestampLabel %></div>
    </div>
  </div>
  <p class="cast-text"><%= cast.text %></p>
  <% if (cast.embeds && cast.embeds.length) { %>
    <div class="embeds">
      <% cast.embeds.forEach((embed) => { %>
        <a href="<%= embed.url %>" target="_blank" rel="noopener noreferrer"><%= embed.label %></a>
      <% }) %>
    </div>
  <% } %>
  <div class="cast-meta">
    <span><%= cast.replyCountLabel %> replies</span>
    <span><%= cast.recastCountLabel %> recasts</span>
    <span><%= cast.likeCountLabel %> likes</span>
  </div>
  <div class="actions">
    <a href="/cast/<%= encodeURIComponent(cast.hash) %>">View thread</a>
    <a href="<%= cast.farcasterUrl %>" target="_blank" rel="noopener noreferrer">Open in Farcaster</a>
  </div>
</article>
